body {
    margin: 0%;
}

aside {
    float: left;
    width: 18%;
    background-color: gray;
    padding: 1%;
    padding-bottom: 50%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
}

h2 {
    font-size: 18px;
    color: rgb(51, 50, 50);
}

section {
    float: left;
    text-align: center;
}

.products {
    width: 75%;
    margin-top: 1%;
    margin-left: 1%;
}

.prod-name {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.image {
    display: inline-block;
    text-align: center;
    background-color: lightgrey;
    padding: 1%;
    margin: 1%;
    width: 25%;
}
.image img {
    width: 100%;
    object-fit: contain;
}